<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post List</title>
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body><%- include("./header"); %>
  <div class="container">
    <h1 class="heading">All Posts</h1>
    <div class="post-list"><% if(typeof posts !== "undefined" && posts.length){ %>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody><% for(post of posts) {%>
          <tr>
            <td><%- post.id %></td>
            <td><a class="view-post" href="/post/<%- post.id %>"><%- post.title %></a></td>
            <td><a href="/edit/<%- post.id %>" class="edit">✎Edit</a><a href="/delete/" onclick="deleteMe(event,<%- post.id %>)" class="del">Delete</a></td>
          </tr>
          <%} %>
        </tbody>
      </table>
      <script>
        function deleteMe(e,i){
          e.preventDefault();
          if(confirm("Do you want to delete the post?")){
            window.location.href = e.target.getAttribute("href")+i;
          }
        }
      </script>
      <% }else{%>
        <p>😊 Please <a href="/create"><strong>insert</strong></a> some posts.</p>
        <%} %>
    </div>
  </div>
</body>
</html>
